body
{
background-color: #CCFFFF;
color: black;
font-family: helvetica, arial, sans-serif;
font-size: 14px;
}

P.indent { padding-left: 2em; }

P.hangingindent { text-indent: -2em; }

P.info 
{
border-style:solid; 
border-width: thin; 
border-color: blue; 
padding:10px; 
background-color:#FFFFE0;
width:60%;
}

P.backtotop
{
font-family: Times, Times New Roman, serif;
background-color: #96CDCD;
width: 25em;
border-style:solid; 
border-width: thin; 
border-color: blue; 
padding:5px; 
}

DIV.indent { margin-left: 2em; }
DIV.margins 
{ 
	margin-left: 8em;
	margin-right: 8em;
}

DIV.smallmargins 
{ 
	margin-left: 10em;
	margin-right: 10em;
}

DIV.linkboxes
{ 
padding-top: 10px; 
padding-left: 10px; 
padding-right: 10px; 
padding-bottom: 10px; 
margin-bottom: 20px;
background-color:#AEEEEE; 
}

UL.plainnoindent  
{ 
list-style-type: none;
padding-left: 0;
margin-left: 0;
}

TABLE.blue 
{ 
	border-style: solid;
	border-width: thin;
	border-color: blue;
}

hr
{
	color: blue;
	background-color: blue;
	border: 0; 
	height: 1px;
	
}

H1 
{
	font-family: Arial, Helvetica, sans-serif;
	color: navy;
	font-size:xx-large;
    margin-top:-5px;
     margin-bottom:5px;
}

H1.title 
{
	font-family: Arial, Helvetica, sans-serif;
	background: #AEEEEE;
	color: navy;
	font-size:xx-large;
	background-image: url(images/panther.gif); 
	background-position: right; 
	background-repeat: no-repeat;
	height: 31px;
    margin-top:-5px;
    margin-bottom:0px; 
	padding: 10px; 
}


H2 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-large;
    margin-top:25px;
     margin-bottom:0px;
}

H3 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:large;
    margin-top:15px;
     margin-bottom:-5px;
}

A:link {text-decoration: none;color: blue; font-weight: normal;  }
A:visited {text-decoration: none; color: blue; font-weight: normal; }   
A:hover {text-decoration: none; color: red; font-weight: normal; }    
A:active {text-decoration: none; color: red; font-weight: normal; } 

UL.plain  { list-style-type: none }

div#navcontainer
{
background-color: #1F00CA;
border-top: solid 1px #FFFFFF;
border-bottom: solid 1px #FFFFFF;
}

div#navcontainer ul
{
font-family: Arial, Helvetica, sans-serif;
color: white;
text-align: center;
margin: 0;
padding-bottom: 5px;
padding-top: 5px;
}

div#navcontainer ul li
{
display: inline;
margin-left: -4px;
}

div#navcontainer ul li a
{
padding: 5px 10px 5px 10px;
color: white;
text-decoration: none;
border-right: 1px solid #fff;
}

div#navcontainer ul li a:hover
{
background-color: #16008D;
color: white;
}

#active a { border-left: 1px solid #fff; }